.shop .category{
    padding: 30px;
    height: 90vh;
}

.chead h1{
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.chead h1:nth-child(1){
    padding-left: 30px;
}

.chead h1:nth-child(2){
    opacity: 0.5;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding-left: 45px;
    margin-right: 40px;
}

.shop .category .box{
    background-color: #f6f9fc;
    margin: 15px 0;
    transition: 0.5s;
    border-radius: 5px;
    padding: 5px 10px;
}

.shop .category img{
    height: auto;
    width: auto;
    margin-bottom: 8px;
}

.shop .category .box:hover{
    background-color: #fff;
    box-shadow: rgb(43 52 69/10%) 0 4px 16px;
    border-radius: 5px;
}

.shop .category .box2{
    margin-top: 100px;
    text-align: center;
}

.shop .category button{
    padding: 10px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.shop .contentWidth{
    margin-left: 30px;
}

.shop .product img{
    width: 100%;
}

.shop .product {
    transition: 0.5s;
}

.shop .product:hover{
    box-shadow: rgb(43 52 69/10%) 0 4px 16px;
}

.box2 button{
    cursor: pointer;
 }

 @media (max-width:820px) {

    section .annoucement .background{
        overflow: hidden;
    }

    .shop{
        display: none;
        
    }
}