/* Head Part CSS */

.head {
    background-color: #0f3460;
    padding: 10px 0;
    color: #fff;
}

.head i {
    margin: 0 10px;
}

.head label {
    margin-right: 30px;
    font-size: 13px;
    cursor: pointer;
}

/* Head Part CSS */

/* Search Part CSS */

.search {
    padding: 20px 0;
}

.search .logo img {
    width: 100px;
    height: 60px;
}

.search .width {
    width: 20%;
}

.search-box {
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.search-box i {
    width: 5%;
    text-align: center;
    font-size: 90%;
    opacity: 0.5;
    padding: 17px;
}

.search-box input {
    width: 100%;
    padding: 10px;
}

::placeholder {
    font-size: 15px;
}

.search-box span {
    width: 20%;
    opacity: 0.5;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.cart {
    position: relative;
}

.search .cart span {
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #e94560;
    font-size: 12px;
    color: #fff;
}

.search .f_flex {
    justify-content: end;
}


/* Search Part CSS */

.categories {
    background-color: #f6f9fc;
    padding: 0 30px;
    border-radius: 10px;
    height: 6vh;
    margin-top: 5px;
}

.categories span {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 10px;
}

.categories h4 {
    font-weight: 600;
    margin-top: 12px;
}

.categories h4 i {
    margin-left: 10px;
}

header {
    height: 8vh;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}

header ul {
    line-height: 8vh;
}

header ul li {
    margin-left: 30px;
}

header ul li a {
    transition: 0.5s;
    font-size: 15px;
    font-weight: 400;
}

header ul li a:hover {
    color: #e94560;
}

.open {
    display: none;
}

.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

input,
button {
    border: none;
    outline: none;
    background-color: none;
}

.row {
    width: 50%;
}

.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #f3f5f9;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
}

.boxShadow {
    box-shadow: rgb(43 52 69 / 10%) 0 4px 16px;
}

@media (max-width:820px) {
    header ul {
        padding-top: 30px;
    }

    .head{
        font-size: 10px;
    }

    .nav-links-MobileMenu {
        position: absolute;
        display: block;
        list-style-type: none;
        left: 0;
        top: 0;
        transition: 0.5s;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        z-index: 999;

    }

    header ul li {
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-transform: uppercase;
        line-height: 70px;
    }

    header .link {
        display: none;
    }

    .close,
    .open {
        position: absolute;
        top: 25px;
        right: 15px;
        color: #ff014f;
        display: block;
        font-size: 25px;
        z-index: 999;
    }

    .fa-search {
        margin: 6px 3px 0 0;
    }

    .close {
        right: 45%;
    }

    .close .home-btn {
        background-color: #ff014f;
        color: #ff014f;
    }

    .content{
        display: none;
    }
   
}

@media (max-width:600px) {
    .categories h4{
        font-size: 13px;
    }
    .categories span::before{
        padding-bottom: 20px;
    }
    .logo a img{
        height: 40px !important;
        width: 40px !important;
    }

    .search-box{
        display: none;
    }

}

/* Top Categories Part CSS */

.heading .heading-left i {
    font-size: 30px;
}

.heading .heading-left h2 {
    font-size: 25px;
    margin: 5px;
}

.heading .heading-right,
.heading .heading-right i {
    text-align: right;
    color: grey;
    cursor: pointer;
}



/* Top Categories Part CSS */