.banner-img3 img{
    width: 342px;
}

.banner:hover{
    cursor: pointer;
}

@media (max-width:1580px) {
    .annoucement .container{
        display: flex;
        flex-direction: column;
    }
    .banner img{
        width: 90vw;
    }
}

@media (max-width:820px) {
    .annoucement .container{
        display: flex;
        flex-direction: column;
    }
    .banner img{
        width: 90vw;
    }
}
