@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.background{
  background-color: #f6f9fc;
  padding: 50px 0;
}

.container{
  max-width: 90%;
  margin: auto;
}

.d_flex{
  display: flex;
  justify-content: space-between;
}

.c_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex{
  display: flex;
}

a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.right-text{
  text-align: right;
}