@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.background {
  background-color: #f6f9fc;
  padding: 70px 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.right-text {
  text-align: right;
}

/* Category CSS */

.contentWidth {
  width: 77%;
}

.category {
  width: 23%;
  box-shadow: rgb(43 52 69/ 10%) 0 4px 16px;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}

.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 20px;
}

.category .box:hover {
  background-color: #ffe1ef;
  cursor: pointer;
}

/* slider button of visit collecitons */

.btn-primary {
  background-color: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.top{
  margin-top: 70px;
}

/* Flash Deals CSS */

.heading i{
  color: #e94560;
  margin: 10px;
}

.prev, .next{
  cursor: pointer;
}

.discount{
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 20px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid3{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width:820px) {
  .product .img img{
    height: 150px;
    width: 150px;
  }

  .product{
    height: 280px;
    width: 300px;
  }

  .flash{
    margin-top: 50px;
  }

  .category{
    font-size: 12px;
    margin-top: 5px;
  }
  .categories h4{
    padding-top: 12px;
  }
  .categories span{
    padding-top: 10px;
  }
}

@media (max-width:579px) {
  .box-category img{
      display: none;
    }
    .category .box{
      padding: 0;
    }

    .logo .width a img{
      height: 50px;
      width: 50px;
    }

    .btn-primary{
      margin-left: 20px;
    }

}

